@font-face {
    font-family: "Noto Sans Ethiopic Regular";
    font-weight: 400;
    font-style: normal;
    font-display: block;
    /* unicode-range: U+000-5FF; */
    src: local("Noto Sans Ethiopic Regular"), url("./assets/fonts/NotoSansEthiopic-Regular.ttf") format("truetype");

    font-family: "Noto Sans Ethiopic SemiBold";
    font-weight: 600;
    font-style: normal;
    font-display: block;
    src: local("Noto Sans Ethiopic SemiBold"), url("./assets/fonts/NotoSansEthiopic-SemiBold.ttf") format("truetype");

    font-family: "Noto Sans Ethiopic Bold";
    font-weight: 800;
    font-style: normal;
    font-display: block;
    src: local("Noto Sans Ethiopic Bold"), url("./assets/fonts/NotoSansEthiopic-Bold.ttf") format("truetype");
}