input {
    background: 
            linear-gradient($bg-blue, $bg-blue) padding-box,
            linear-gradient(to right, $white, $white) border-box;
    border-radius: $btn_radius;
    border: 3px solid transparent;
    padding: 1rem 1.5rem ;
    outline: none;
    color: $white;
    width: 100%;
    

    &::placeholder {
        color: $grey;
    }

    &:focus {
        background: 
            linear-gradient($bg-blue, $bg-blue) padding-box,
            linear-gradient(to right, $purple, $orange) border-box;
        border-radius: $btn_radius;
        border: 3px solid transparent;
    }
}

.inputArea {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.inputArea label {
    margin-bottom: .5rem;
    
}
.error{
    color:red;
    margin-bottom: 1rem;
}
.req{
    color: red;

}


