/* Colors */
$purple: #7F11C3;
$blue: #02025F;
$black: #000000;
$white: #F7F7F7;
$orange: #E74B02;
$beige: #F2C3A1;
$grey: #C6C6C6;
$bg-blue: #00002A;
$red: red;
$selectedMovie: #C8C8FF;

/* Media query */
$media-desktop: 1024px;

/* Others */
$btn_radius: 0.75rem; //12px
$poster_radius: 0.625rem; //12px
$standardSpacement: 1.25rem; // 20px