.primaryBtn, .secondaryBtn, .tertiaryBtn {
    position: relative;
    border-radius: $btn_radius;
    border: none;
    width: 100%;
    padding: 0.875rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media only screen and (min-width: $media-desktop) {
        font-size: 1.125rem;
        width: fit-content;
        padding: 0.875rem 2rem;

        &:hover{
            background: linear-gradient(91.25deg, $blue 0%, $purple 51.47%, $orange 100%);
            color: $white;
        }
    }
}

.primaryBtn {
    background-color: $orange;
    color: $white;
}

.secondaryBtn {
    background-color: $beige;
    color: $black;
}

.tertiaryBtn {
    background-color: $grey;
    color: $black;
}

.createChllgBtn {
    color: $white;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: linear-gradient(91.25deg, $orange 0%, $purple 100%);

    &::after {
        content: "Create Challenge";
    }
}