.contactContainer h2 {
    font-size: 2rem;
    margin: $standardSpacement 0;
}


.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $standardSpacement;
    transform: translateY(-40px);

    @media only screen and (min-width: $media-desktop) {
        width: 100%;
        transform: none;
    }
}

.contactUsHeading {
    text-align: center;
}

.contactContainer .formContainer .form_email,
.form_fName,
.form_lName,
.form_subject,
.form_message {
    display: flex;
    flex-direction: column;
    margin-bottom: $standardSpacement;

}

#formData {
    margin-top: $standardSpacement;
    width: 100%;

    @media only screen and (min-width: $media-desktop) {
        width: 50%;
    }
}

.nameContainer {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.contactFormNames {
    width: 48%;
}

.submitContact {
    width: 100%;

    @media only screen and (min-width: $media-desktop) {
        width: 70%;
    }
}

.inputArea {
    margin-top: 0.5rem;
    width: 100%;
}