#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $black;
    align-items: center;
    padding: 15px;
}

#address,
#reserved {
    font-size: 12px;
}

.addressAndReserved {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    #footer {
        position: relative;
        // position: absolute;
        // bottom: 0;
        // width: 100%;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 1.2rem 0;
        padding-bottom: 2.5rem;
        // z-index: 5;
        // margin-top: $standardSpacement;
    }

    #sevenKnights {
        position: absolute;
        bottom: 0;
        margin-left: 2rem;
        padding-bottom: 1rem;
    }

    #reserved {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
        font-size: 1.125rem;
        padding-bottom: 1rem;
    }

    #watchappLogo {
        margin-left: 2rem;
    }

    #address {
        margin-right: 2rem;
        font-size: 1.125rem;
    }
}