#loginPage {
    padding: $standardSpacement;
    width: 100%;

    @media only screen and (min-width: $media-desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#loginPage h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

#loginPage .formContainer {

    @media only screen and (min-width: $media-desktop) {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
}

#loginPage .formContainer .formLogin {

    @media only screen and (min-width: $media-desktop) {
        display: flex;
        flex-direction: column;
    }
}

.emailContainer, .passwordContainer {
    padding-bottom: $standardSpacement;
}

#loginPage .inputArea {
    width: 100%;
    margin-top: .5rem;
}

#loginPage .primaryBtn, .createAccBtn {
    margin-bottom: $standardSpacement;

    @media only screen and (min-width: $media-desktop) {
        width: 50%;
        align-self: center;
    }
}

#loginPage .primaryBtn {
    margin-top: $standardSpacement;
}


#loginPage .linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $standardSpacement;
}


#loginPage .link {
    margin-bottom: $standardSpacement;
}

#loginPage .createAccBtn {
    background-color: $beige;
    color: $black;
    position: relative;
    border-radius: $btn_radius;
    border: none;
    width: 100%;
    padding: 0.875rem 0;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media only screen and (min-width: $media-desktop) {
        font-size: 1.125rem;
        width: 50%;
        padding: 0.875rem 2rem;

        &:hover {
            background: linear-gradient(91.25deg, $blue 0%, $purple 51.47%, $orange 100%);
            color: $white;
        }
    }
}