//First Section Start
#ongoingChalSec {
    padding: $standardSpacement;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $media-desktop) {
        align-items: unset;
    }
}

#ongoingChalSec .seeMoreBtn {
    @media only screen and (min-width: $media-desktop) {
        align-self: center;
        width: auto;
        margin-bottom: $standardSpacement;
    }
}

#ongoingChalSec .btnContainer {
    @media only screen and (min-width: $media-desktop) {
        align-self: center;
        width: auto;
    }
}

#ongoingChalSec .btnContainer .secondaryBtn{
    @media only screen and (min-width: $media-desktop) {
        width: auto;
    }
}

#ongoingChalSec h2 {
    font-size: 1.25rem;
    align-self: flex-start;

    @media only screen and (min-width: $media-desktop) {
        font-size: 1.5rem;
    }
}

#ongoingChalSec .challenge {
    width: 100%;
    height: 6rem;
    border-radius: $poster_radius;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    margin-bottom: $standardSpacement;

    @media only screen and (min-width: $media-desktop) {
        margin-right: $standardSpacement*2;
        width: 15rem;
        height: 20rem;
    }
}

#ongoingChalSec .challenge .chalDetailsContainer {
    position: absolute;
    bottom: 0;
    padding: $standardSpacement;
    display: flex;
    flex-direction: column;
}

#ongoingChalSec .challenge .chalDetailsContainer h3,
span {
    text-align: unset !important;
}

#ongoingChalSec .challenge .chalDetailsContainer h3 {
    font-weight: bold;
    font-size: 1rem;

    @media only screen and (min-width: $media-desktop) {
        font-size: 1.125rem;
    }
}

#ongoingChalSec .challenge .chalDetailsContainer span {
    font-size: 1rem;
}

#ongoingChalSec .chalList {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @media only screen and (min-width: $media-desktop) {
        flex-direction: row;
    }
    /* justify-content: space-between; */
}

#ongoingChalSec .createChalCard {
    background: linear-gradient(91.25deg, $blue 0%, $purple 51.47%, $orange 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $standardSpacement;
    width: 15rem;
    height: 20rem;
    border-radius: $poster_radius;
    cursor: pointer;
}

#ongoingChalSec .primaryBtn {
    font-size: 1rem;
    padding: .75rem;
}
//First Section End

//Second Section Start
#chalDetailSection {
    margin: $standardSpacement;

    @media only screen and (min-width: $media-desktop) {
        width: 50%;
        margin: $standardSpacement*2 auto;
    }
}

#chalDetailSection .chalDetailContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: $standardSpacement;
    border-bottom: 3px solid $white;

    @media only screen and (min-width: $media-desktop) {
        flex-direction: row;
        padding-bottom: $standardSpacement*2;
    }
}

#chalDetailSection .chalDetailContainer .chalImgContainer {
    background-size: cover;
    height: 15rem;
    width: 100%;

    @media only screen and (min-width: $media-desktop) {
        flex-basis: 30%;
    }
}

#chalDetailSection .chalDetailContainer .chalDetailsInfo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: $standardSpacement;

    @media only screen and (min-width: $media-desktop) {
        flex-basis: 60%;
        padding: $standardSpacement;
    }
}

#chalDetailSection .chalDetailContainer .chalDetailsInfo span {
    text-align: unset !important;
}

#chalDetailSection .chalDetailContainer .chalDetailsInfo .chalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: $standardSpacement;
}

#chalDetailSection .chalDetailContainer .chalDetailsInfo .chalDates {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: $standardSpacement;
}

#chalDetailSection .chalDetailContainer .chalDetailsInfo .chalDescription {
    font-size: 1rem;
    font-weight: normal;
}

#chalDetailSection .ongoingChalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $standardSpacement;
    justify-content: space-between;

    @media only screen and (min-width: $media-desktop) {
        justify-content: flex-start;
    }
}

#chalDetailSection .ongoingChalContainer:last-child {
    align-self: flex-start;
}

#chalDetailSection .ongoingChalContainer .ongoingChalItem {
    width: 47%;
    margin-bottom: $standardSpacement;
    position: relative;

    @media only screen and (min-width: $media-desktop) {
        width: 21%;
        margin: 0 0 $standardSpacement $standardSpacement;
    }
}

#chalDetailSection .ongoingChalContainer .ongoingChalItem img{
    width: 100%;
    height: 100%;
    border-radius: $poster_radius;
    cursor: pointer;

    @media only screen and (min-width: $media-desktop) {
        height: auto;
    }
}

#chalDetailSection .ongoingChalContainer .ongoingChalItem .movieWatched {
    position: absolute;
    background-color: white;
    opacity: $opacity;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: $poster_radius;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $media-desktop) {
        height: 98.5%;
    }
}

#chalDetailSection .ongoingChalContainer .ongoingChalItem .movieWatched span {
    color: $black;
    font-weight: bold;
   /*  @media only screen and (min-width: $media-desktop) {
        height: auto;
    } */
}
