.pageNotFound {
    text-align: center;
    margin: 1rem;
    text-align: -webkit-center;
}

.usefulLinks {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}

.pageNotFound .btnContainer {
    display: flex;
    flex-direction: column;
}

.pageNotFound button {
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
    .btnContainer {
        width: 30%;
    }

    .pageNotFound button {
        width: 100%;
        margin-right: 1.5rem;
    }

    .pageNotFound .btnContainer {
        display: flex;
        flex-direction: row;
    }
}