.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: rgba($color: #000000, $alpha: .6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupContent .infoArea{
    margin: 0 $standardSpacement;
}

.popupContent .infoArea h3 {
    text-align: unset;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.popupContent .infoArea .dateRatingContainer {
    margin: $standardSpacement 0;
}

.popupContent .infoArea .movieOverview {
    margin: $standardSpacement 0 $standardSpacement;
}

.popupInner {
    position: relative;
    background-color: $bg-blue;
    padding: 30px;
    border-radius: 0.75rem;
}

.popupInner button {
    margin-top: 20px;
}

#closePopup {
    cursor: pointer;
    width: 30px;
    position: absolute;
    right: $standardSpacement;
    top: $standardSpacement;


    @media only screen and (min-width: 1024px) {
        /* transform: translate(340px, 1px); */
    }
}