#recommendPageSec {
    /* padding: 0 1.125rem; */
    box-sizing: border-box;

    @media only screen and (min-width: $media-desktop) {
        padding: 0 2.5rem;
    }
}

#recommendPageSec .movieList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    @media only screen and (min-width: $media-desktop) {
        padding: 0 2.5rem;
        justify-content: space-between
    }
}

#recommendPageSec .movieList .movieItem:last-child {
    align-self: flex-start;
}

#recommendPageSec .movieList .movieItem {
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding-right: .75rem; */
    margin-bottom: $standardSpacement;
    cursor: pointer;
    flex-basis: 20%;

    @media only screen and (min-width: $media-desktop) {
        flex-basis: unset;
        margin-bottom: $standardSpacement*2;
        /* padding-right: 1.5rem; */
    }
}

#recommendPageSec .movieList .movieItem img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 9rem; */
    height: 12rem;
    /* margin-bottom: 1rem; */
    border-radius: $poster_radius;

    @media only screen and (min-width: $media-desktop) {
        width: 16.5rem;
        height: 23rem;
    }
}

// CSS for the popup
.popupContent .movieImg {
    width: 300px;
}

.movieOverview {
    width: 400px;
}