#resetPasswordPage {
    padding: $standardSpacement;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#resetPasswordPage #newPassword {
    display: flex;
    flex-direction: column;
}

#resetPasswordPage #newPassword #email {
    color: $white;
}

#resetPasswordPage #newPassword #email,
.nextBtn {
    margin-top: $standardSpacement;
}

#resetPasswordPage .backToLogin {
    align-self: center;
    margin-top: $standardSpacement;
}

@media only screen and (min-width: $media-desktop) {
    #resetPasswordPage {
        text-align: center;
        align-items: center;
    }

    #newPassword {
        text-align: initial;
    }

    #email {
        width: 450px;
    }
}