#resetPasswordPage {
    padding: $standardSpacement;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#resetPasswordPage #newPassword {
    display: flex;
    flex-direction: column;
}

#resetPasswordPage #newPassword #email {
    color: $white;
}

#resetPasswordPage #newPassword  #email, .nextBtn{
    margin-top: $standardSpacement;
}

#resetPasswordPage .backToLogin {
    align-self: center;
    margin-top: $standardSpacement;
}