#loginPage {
    padding: $standardSpacement;
    width: 100%;

    @media only screen and (min-width: $media-desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#loginPage h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

#loginPage .formContainer {

    @media only screen and (min-width: $media-desktop) {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
}

#loginPage .formContainer .formLogin {

    @media only screen and (min-width: $media-desktop) {
        display: flex;
        flex-direction: column;
    }
}

.emailContainer, .passwordContainer {
    padding-bottom: $standardSpacement;
}

#loginPage .inputArea {
    width: 100%;
    margin-top: .5rem;
}

#loginPage .primaryBtn, .secondaryBtn {
    margin-bottom: $standardSpacement;

    @media only screen and (min-width: $media-desktop) {
        width: 50%;
        align-self: center;
    }
}

#loginPage .primaryBtn {
    margin-top: $standardSpacement;
}


#loginPage .linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $standardSpacement;
}


#loginPage .link {
    margin-bottom: $standardSpacement;
}